.catalog {
  max-width: 320px;
}

.catalog__title {
  font-family: @main-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @font-color-black;
}

.catalog__list {
  padding-left: 0;
}

.product-list {
  list-style: @list-style;
}

.product-list__item {
  padding-bottom: 24px;
  padding-left: 20px;

  border-bottom: @border;
}

.product-list__logo {
  width: 30px;
}

.product-list__logo--grey {
  fill: #d3d3d3;
}

.product-list__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: @text-transform;
  color: @font-color-black;
}

.product-list__table {
  font-family: @additional-font;
  font-size: 12px;
  line-height: 16px;
  color: @font-color-grey;
}

.product-list__description {
  font-family: @additional-font;
  font-size: 12px;
  line-height: 16px;
  color: @font-color-grey;
}

.product-list__order-button {
  .mobile-button-green();
}

.product-list__show-all {
  .mobile-button-grey();
}
