.categories {
  max-width: 280px;
  margin: 0 auto;
}

.categories__list {
  list-style: @list-style;
  padding: 0;
}

.categories__item {
  width: 280px;
  height: 230px;

  color: @font-color-black;

  background-color: @bg-color-grey;

  padding-top: 35px;

  margin-top: 20px;
}

.categories__title {
  font-family: @main-font;
  font-size: 24px;
  line-height: 1.55;
  font-weight: 400;
  text-transform: @text-transform;

  margin: 0;
  margin-bottom: 30px;
}

.categories__description {
  font-family: @additional-font;
  font-size: 14px;
  line-height: 1.3;
  color: @font-color-grey;

  border-bottom: @border;

  padding-bottom: 25px;

  margin: 0;
  margin-bottom: 20px;
}

.categories__button {
  font-family: @main-font;
  font-size: 16px;
  line-height: 1;
  text-transform: @text-transform;
  text-decoration: @text-decoration;
  color: @font-color-black;
}

@media (min-width: @tablet-width) {
  .categories {
    max-width: 708px;
    margin: 0 auto;
  }

  .categories__item {
    width: 653px;
    height: 291px;

    padding-top: 80px;
    padding-left: 55px;
  }

  .categories__title {
    font-size: 36px;
    line-height: 1.03;
  }

  .categories__description {
    font-size: 16px;
    line-height: 1.5;

    border-bottom: none;
  }

  .categories__button {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    max-width: 1220px;
    margin: 0 auto;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
  }

  .categories__item {
    width: 518px;
    height: 291px;

    padding-top: 81px;
    padding-left: 52px;

    margin-right: 80px;
  }

  .categories__item:nth-child(2n) {
    margin-right: 0;
  }
}
