.contacts__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 1.25;
  text-transform: @text-transform;
  color: @font-color-black;
}

.contacts__address {
  font-family: @additional-font;
  font-size: 14px;
  line-height: 1.45;
  color: @font-color-grey;
}
