.extra {
  max-width: 320px;
}

.extra__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: @font-color-black;
}

.extra__list {
  padding-left: 0;
}

.additional-list {
  list-style: @list-style;
}

.additional-list__item {
  padding-bottom: 24px;
  padding-left: 0.85;

  border-bottom: @border;
}

.additional-list__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 1;
  text-transform: @text-transform;
  color: @font-color-black;
}

.additional-list__table {
  font-family: @additional-font;
  font-size: 14px;
  line-height: 1;
  color: @font-color-grey;
}

.additional-list__order-button {
  .mobile-button-green();
}

@media (min-width: @tablet-width) {
  .extra {
    max-width: 708px;
    margin: 0 auto;
  }

  .extra__title {
    font-size: 36px;
    line-height: 1;
  }

  .additional-list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .additional-list__item:first-child {
    border-top: @border;
  }

  .additional-list__title {
    font-size: 20px;
    line-height: 1;
    margin-left: 38px;
  }

  .additional-list__table {
    font-size: 16px;
    line-height: 1.25;
    margin-right: 37px;
  }

  .additional-list__order-button {
    .tablet-button-green();
    width: 633px;
    margin-left: 38px;
    margin-right: 37px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    max-width: 1220px;
    margin: 0 auto;
  }

  .additional-list {
    width: 895px;
  }

  .additional-list__title {
    margin: 0;
  }

  .additional-list__order-button {
    .tablet-button-green();
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }
}
