.extra {
  max-width: 280px;
  margin: 0 auto;
}

.extra__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: @font-color-black;

  padding-bottom: 30px;

  border-bottom: @border;

  margin-top: 30px;
}

.extra__list {
  padding-left: 0;
  margin-top: 14px;
  margin-bottom: 39px;
}

.additional-list {
  list-style: @list-style;
}

.additional-list__item {
  padding-bottom: 17px;
  border-bottom: @border;
}

.additional-list__title {
  font-family: @main-font;
  font-size: 16px;
  line-height: 1;
  text-transform: @text-transform;
  color: @font-color-black;

  margin-top: 14px;
  margin-bottom: 16px;
}

.additional-list__table {
  width: 280px;

  font-family: @additional-font;
  font-size: 14px;
  line-height: 1;
  color: @font-color-grey;
}

.additional-list__value {
  text-align: right;
}

.additional-list__order-button {
  .mobile-button-green();
  margin-top: 14px;
}

.stock {
  width: 280px;
  height: 289px;

  text-align: @text-align;

  background-color: @bg-color-green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.stock__logo {
  width: 55px;
  height: 60px;

  fill: #ffffff;

  margin-top: 65px;
  margin-bottom: 60px;
}

.stock__txt {
  width: 160px;

  font-family: @additional-font;
  font-size: 16px;
  line-height: 1.25;

  color: @font-color-white;

  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .extra {
    max-width: 708px;
    margin: 0 auto;
  }

  .extra__title {
    position: relative;

    font-size: 36px;
    line-height: 1;

    padding-bottom: 0;

    border: none;

    margin-bottom: 81px;
    margin-left: 24px;
  }

  .extra__title::before {
    content: "";

    position: absolute;
    top: 19px;
    left: -67px;

    width: 28px;
    height: 3px;

    background-color: @bg-color-green;
  }

  .extra__title::after {
    content: "";

    position: absolute;
    top: 19px;
    right: -30px;

    width: 327px;
    height: 3px;

    background-color: @bg-color-green;
  }

  .additional-list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    border: @border;
  }

  .additional-list__title {
    font-size: 20px;
    line-height: 1;

    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 38px;
  }

  .additional-list__table {
    font-size: 16px;
    line-height: 1.25;
    margin-right: 37px;
  }

  .additional-list__field {
    width: 150px;
    text-align: right;
  }

  .additional-list__order-button {
    .tablet-button-green();
    width: 633px;
    margin: 0 auto;
  }

  .stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 708px;
    height: 199px;
  }

  .stock__logo {
    margin-left: 91px;
  }

  .stock__txt {
    width: 160px;
    text-align: left;
    margin-right: 125px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 86px;
  }

  .extra__title {
    margin-left: 0;
  }

  .extra__title::before {
    left: -135px;

    width: 70px;
  }

  .extra__title::after {
    width: 957px;

    right: -110px;
  }

  .extra__wrapper {
    display: flex;
    flex-direction: row;
  }

  .additional-list {
    width: 895px;
    margin: 0;
    margin-right: 80px;
  }

  .additional-list__item {
    justify-content: flex-start;

    height: 71px;

    padding-bottom: 0;

    border-left: none;
    border-right: none;
  }

  .additional-list__title {
    width: 245px;
    margin: 0;
  }

  .additional-list__table {
    margin-right: 40px;
    margin-left: 80px;
  }

  .additional-list__row {
    width: 285px;
  }

  .additional-list__field {
    text-align: left;
  }

  .additional-list__value {
    text-align: right;
  }

  .additional-list__order-button {
    .tablet-button-green();
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }

  .stock {
    flex-direction: column;
    justify-content: space-around;
    width: 245px;
    height: 289px;
  }

  .stock__logo {
    margin: 0 auto;
  }

  .stock__txt {
    text-align: center;
    margin: 0 auto;
  }
}
