.page-header {
  max-width: 320px;
  background-color: @bg-color-white;
}

.page-header__logo {
  width: 191px;
}

.page-header__logo--yellow {
  fill: #fdc305;
}

.page-header__logo--red {
  fill: #f06351;
}

.main-nav__list {
  padding-left: 0;
}

.site-list {
  list-style: @list-style;
}

.site-list__item {
  height: 20px;

  font-family: @main-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: @text-transform;
  text-align: @text-align;
  color: @font-color-black;

  padding-top: 32px;
  padding-bottom: 33px;

  border-bottom: @border;
}

.site-list__item:first-child {
  border-top: @border;
}

.site-list__link {
  text-decoration: @text-decoration;
}
