.page-footer {
  max-width: 320px;
  background-color: @bg-color-grey;
}

.page-footer__logo {
  width: 128px;

  margin-left: 20px;
}

.page-footer__logo--black {
  fill: #111111
}

.page-footer__social {
  max-width: 280px;

  padding-left: 0;

  border-top: @border;
  border-bottom: @border;

  margin-left: 20px;
}

.social {
  list-style: @list-style;
}

.social__item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__copyright {
  margin-left: 20px;
}

.copyright__text {
  font-family: @additional-font;
  font-size: 16px;
  line-height: 16px;
  color: @font-color-grey;
}

.copyright__logo {
  width: 27px;

  fill: #666666;
}
