.page-header {
  display: flex;
  flex-direction: column;

  background-color: @bg-color-white;
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 65px;

  padding: 0 20px;

  border-bottom: @border;
}

.page-header__logo {
  width: 191px;
}

.page-header__logo--yellow {
  fill: #fdc305;
}

.page-header__logo--red {
  fill: #f06351;
}

.main-nav__open {
  width: 24px;
  height: 18px;

  border: none;
}

.main-nav__list {
  padding-left: 0;
}

.site-list {
  list-style: @list-style;
}

.site-list__item {
  height: 20px;

  font-family: @main-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: @text-transform;
  text-align: @text-align;
  color: @font-color-black;

  padding-top: 32px;
  padding-bottom: 33px;

  border-bottom: @border;
}

.site-list__link {
  text-decoration: @text-decoration;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 678px;
    margin: 0 auto;
  }

  .page-header__wrap {
    height: 120px;

    padding: 0;

    border: none;
  }

  .page-header__logo {
    width: 173px;
  }

  .main-nav__open {
    display: none;
  }

  .site-list {
    display: flex;
    flex-direction: row;

    margin: 0;
  }

  .site-list__item {
    height: 25px;

    font-size: 18px;
    line-height: 1.38;
    font-weight: 400;

    padding-top: 46px;
    padding-bottom: 49px;

    border: none;

    margin-right: 37px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 203px;
    height: 59px;
  }

  .site-list__item {
    font-size: 20px;
    line-height: 1.24;
  }
}
