.page-footer {
  width: 100%;
  background-color: @bg-color-grey;

  text-align: center;
}

.page-footer__link {
  margin: 0 auto;
}

.page-footer__logo {
  width: 128px;
  padding-top: 39px;
  padding-bottom: 31px;
}

.page-footer__logo--black {
  fill: #111111;
}

.page-footer__link:hover .page-footer__logo--black,
.page-footer__link:focus .page-footer__logo--black {
  fill: rgba(17, 17, 17, 0.8);
}

.page-footer__link:active .page-footer__logo--black {
  fill: rgba(17, 17, 17, 0.6);
}

.page-footer__social {
  max-width: 280px;

  padding-left: 0;
  margin: 0 auto;

  border-top: @border;
  border-bottom: @border;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  list-style: @list-style;
}

.social__item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #68b738;
}

.social__link:active .social__icon {
  fill: rgba(104, 183, 56, 0.3);
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 280px;
  height: 78px;

  text-decoration: none;

  margin: 0 auto;
}

.copyright__text {
  font-family: @additional-font;
  font-size: 16px;
  line-height: 1;
  color: @font-color-grey;
}

.copyright__logo {
  width: 27px;

  fill: #666666;
}

.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: #68b738;
}

.copyright__link:active .copyright__logo {
  fill: rgba(104, 183, 56, 0.3);
}

.copyright__link:active .copyright__text {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: @tablet-width) {
  .page-footer {
    height: 150px;
  }

  .page-footer__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 708px;
    height: 150px;
    margin: 0 auto;
  }

  .page-footer__link {
    margin: 0;
  }

  .page-footer__social {
    border: none;
  }

  .social__item {
    margin-right: 29px;
  }

  .social__item:last-child {
    margin-right: 0;
  }

  .copyright__link {
    justify-content: none;
    margin: 0;
  }

  .copyright__text {
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    max-width: 1220px;
  }
}
