.program {
  max-width: 280px;
  margin: 0 auto;
}

.program__title {
  width: 280px;

  font-family: @main-font;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: @font-color-black;

  margin-top: 16px;
  margin-bottom: 24px;
}

.program__description {
  width: 250px;

  font-family: @main-font;
  font-size: 14px;
  line-height: 1.3;
  text-transform: @text-transform;
  color: @font-color-black;

  margin-top: 0;
  margin-bottom: 39px;
}

.program__section {
  padding: 0;
  border: 0;
  margin: 0;
}

.cat-info__list,
.cat-info__filter,
.owner-info__list,
.additional-filter__list {
  .ul-config();
  width: 280px;
}

.cat-info__list {
  border-bottom: @border;
}

.cat-info__item,
.owner-info__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-info__label,
.owner-info__label,
.additional-filter__label {
  .program-labels();
}

.cat-info__input,
.owner-info__input {
  position: relative;

  font-family: @main-font;
  font-size: 16px;
  line-height: 1.15;
  text-transform: uppercase;
  color: @font-color-grey;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;

  border: @border;

  margin-bottom: 14px;
}

.cat-info__input:hover {
  border-color: #cdcdcd;
}

.cat-info__input:focus {
  border-color: #444444;
}

.cat-info__input:invalid {
  border-color: #ff8282;
}

.cat-info__item:first-child .cat-info__input {
  width: 212px;
}

.cat-info__item:nth-child(2) .cat-info__input {
  width: 187px;
}

.cat-info__item:nth-child(3) .cat-info__input {
  width: 155px;
}

.cat-info__item:last-child {
  margin-bottom: 9px;
}

.cat-info__filter {
  border-bottom: @border;

  margin-top: 24px;
  margin-bottom: 28px;
}

.cat-info__filter-item {
  margin-bottom: 19px;
}

.cat-info__filter-item:last-child {
  margin-bottom: 22px;
}

.cat-info__radio {
  opacity: 0;
}

.cat-info__label--filter {
  position: relative;
  margin-left: 22px;
}

.cat-info__label--filter::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -47px;

  width: 29px;
  height: 29px;

  border: @border;
  border-radius: 100%;
}

.cat-info__label--filter::after {
  display: none;

  content: "";
  position: absolute;
  top: 17px;
  left: -37px;

  width: 12px;
  height: 12px;

  background-color: @bg-color-green;

  border-radius: 100%;
}

.cat-info__radio:hover + .cat-info__label--filter::before,
.cat-info__radio:focus + .cat-info__label--filter::before {
  border-color: #bcbcbc;
}

.cat-info__radio:checked + .cat-info__label--filter::after {
  display: block;
}

.cat-info__radio:active + .cat-info__label--filter::before {
  border-color: rgba(188, 188, 188, 0.3);
}

.cat-info__radio:active + .cat-info__label--filter::after {
  background-color: rgba(104, 183, 56, 0.3);
}

.owner-info__title,
.about-cat__title,
.additional-filter__title {
  .legend-config();
  width: 280px;
}

.owner-info__title {
  position: relative;
  margin-bottom: 34px;
}

.owner-info__title::after {
  content: "";

  position: absolute;
  top: 14px;
  right: -17px;

  width: 99px;
  height: 3px;
  background-color: @bg-color-green;
}

.owner-info__list {
  margin-bottom: 14px;
}

.owner-info__item {
  position: relative;
}

.owner-info__item:first-child .owner-info__input {
  width: 202px;
}

.owner-info__item:nth-child(2) .owner-info__input {
  width: 187px;
}

.owner-info__icon {
  position: absolute;
  z-index: 2;
}

.email-icon {
  top: 17px;
  right: 16px;

  width: 17px;
  height: 13px;
}

.phone-icon {
  top: 13px;
  right: 13px;

  width: 20px;
  height: 20px;
}

.owner-info__input:hover {
  border-color: #cdcdcd;
}

.owner-info__input:focus {
  border-color: #444444;
}

.owner-info__input:focus + .owner-info__icon {
  fill: #68b738;
}

.owner-info__input:invalid {
  border-color: #ff8282;
}

.owner-info__input:invalid + .owner-info__icon {
  fill: #ff8282;
}

/*цвет текста для placeholder'a в этом input*/
.owner-info__inputt::-webkit-input-placeholder {
  color: #444444;
}

.owner-info__input:-moz-placeholder {
  color: #444444;
}

.about-cat {
  width: 280px;
  margin-bottom: 25px;
}

.about-cat__title {
  position: relative;
  padding: 0;
  margin-bottom: 35px;
}

.about-cat__title::after {
  content: "";

  position: absolute;
  top: 14px;
  right: -20px;

  width: 158px;
  height: 3px;
  background-color: @bg-color-green;
}

.about-cat__text {
  width: 261px;
  height: 134px;

  font-family: @main-font;
  font-size: 16px;
  line-height: 1.15;
  text-transform: @text-transform;
  color: @font-color-grey;

  padding-top: 11px;
  padding-left: 14px;
}

.additional-filter__title {
  position: relative;
  padding: 0;
  margin-bottom: 37px;
}

.additional-filter__title::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -20px;

  width: 136px;
  height: 3px;
  background-color: @bg-color-green;
}

.additional-filter__item {
  margin-bottom: 19px;
}

.additional-filter__item:last-child {
  margin-bottom: 35px;
}

.additional-filter__checkbox {
  opacity: 0;
}

.additional-filter__label {
  position: relative;
  margin-left: 25px;
}

.additional-filter__label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -47px;

  width: 28px;
  height: 28px;

  border: @border;
}

.additional-filter__label::after {
  content: "";
  display: none;

  position: absolute;
  top: 11px;
  left: -43px;

  width: 20px;
  height: 12px;

  transform: rotate(-45deg);

  border-bottom: 2px solid #68b738;
  border-left: 2px solid #68b738;
}

.additional-filter__checkbox:checked + .additional-filter__label::after {
  display: block;
}

.additional-filter__checkbox:hover + .additional-filter__label::before,
.additional-filter__checkbox:focus + .additional-filter__label::before {
  border-color: #bababa;
}

.additional-filter__checkbox:active + .additional-filter__label::before {
  border-color: rgba(186, 186, 186, 0.3);
}

.additional-filter__checkbox:active + .additional-filter__label::after {
  border-color: rgba(104, 183, 56, 0.3);
}

.program__other {
  width: 280px;
  margin: 0 auto;
}

.program__button {
  width: 280px;
  height: 40px;

  font-family: @main-font;
  font-size: 16px;
  line-height: 1.25;
  text-transform: @text-transform;
  color: @font-color-white;

  background-color: @bg-color-green;

  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.program__additional-txt {
  font-family: @additional-font;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  color: @font-color-grey;

  margin: 0;
  margin-top: 23px;
}

@media (min-width: @tablet-width) {
  .program {
    max-width: 708px;
    margin: 0 auto;
  }

  .program__title {
    width: auto;
    font-size: 60px;
    line-height: 1;

    padding: 0;

    margin-top: 0;
    margin-bottom: 55px;
  }

  .program__description {
    width: 325px;
    font-size: 20px;
    line-height: 1.5;

    padding: 0;

    margin-bottom: 66px;
    margin-left: 41px;
  }

  .owner-info__title,
  .about-cat__title,
  .additional-filter__title {
    font-size: 36px;
    line-height: 1;
  }

  .cat-info__list,
  .owner-info__list,
  .additional-filter__list {
    margin-left: 41px;
  }

  .cat-info__list {
    width: 630px;
    padding: 0;
    border: none;
  }

  .cat-info__label,
  .owner-info__label,
  .additional-filter__label {
    font-size: 20px;
    line-height: 1;
  }

  .cat-info__label {
    height: 20px;
    padding-top: 16px;
    padding-bottom: 19px;
  }

  .cat-info__input,
  .owner-info__input {
    font-size: 20px;
    line-height: 1;

    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 19px;

    margin-left: 15px;
    margin-bottom: 17px;
  }

  .cat-info__item:first-child .cat-info__input {
    width: 546px;
  }

  .cat-info__item:nth-child(2) .cat-info__input {
    width: 515px;
  }

  .cat-info__item:nth-child(3) .cat-info__input {
    width: 476px;
  }

  .cat-info__item:last-child {
    margin-bottom: 55px;
  }

  .cat-info__filter {
    width: 542px;
    min-height: 159px;

    padding: 0;
    padding-top: 33px;
    padding-left: 86px;

    border: @border;

    margin-bottom: 77px;
    margin-left: 41px;
  }

  .cat-info__filter-item {
    margin-bottom: 29px;
  }

  .cat-info__radio {
    position: absolute;
    left: -99999px;
  }

  .cat-info__label--filter {
    margin: 0;
  }

  .cat-info__label--filter::before {
    top: 12px;
    left: -60px;

    width: 38px;
    height: 38px;
  }

  .cat-info__label--filter::after {
    top: 22px;
    left: -49px;

    width: 18px;
    height: 18px;
  }

  .owner-info__title {
    width: 667px;

    padding: 0;
    padding-left: 41px;

    margin-bottom: 75px;
  }

  .owner-info__title::before {
    content: "";

    position: absolute;
    top: 22px;
    left: -30px;

    width: 30px;
    height: 3px;

    background-color: #68b738;
  }

  .owner-info__title::after {
    top: 22px;
    right: -30px;

    width: 145px;
    height: 3px;
  }

  .owner-info__list {
    width: 632px;
    padding: 0;
    margin-bottom: 48px;
  }

  .owner-info__item:first-child .owner-info__input {
    width: 530px;
  }

  .owner-info__item:nth-child(2) .owner-info__input {
    width: 514px;
  }

  .email-icon {
    top: 21px;
    right: 21px;
  }

  .phone-icon {
    top: 18px;
    right: 18px;
  }

  .owner-info__label {
    height: 20px;
    padding-top: 16px;
    padding-bottom: 19px;
  }

  .owner-info__item:first-child .owner-info__label::after {
    top: 26px;
    left: 593px;
  }

  .owner-info__item:nth-child(2) .owner-info__label::after {
    top: 23px;
    left: 593px;
  }

  .about-cat {
    padding: 0;
    margin-bottom: 60px;
  }

  .about-cat__title {
    width: 667px;

    padding: 0;
    padding-left: 41px;

    margin-bottom: 76px;
  }

  .about-cat__title::before {
    content: "";

    position: absolute;
    top: 22px;
    left: -30px;

    width: 30px;
    height: 3px;

    background-color: #68b738;
  }

  .about-cat__title::after {
    top: 22px;
    right: -30px;

    width: 479px;
    height: 3px;
  }

  .about-cat__text {
    width: 610px;
    height: 160px;
    font-size: 20px;
    line-height: 1.5;

    padding-top: 9px;
    padding-left: 17px;

    margin-left: 41px;
  }

  .additional-filter__title {
    width: 667px;

    padding: 0;
    padding-left: 41px;

    margin-bottom: 67px;
  }

  .additional-filter__title::before {
    content: "";

    position: absolute;
    top: 23px;
    left: -30px;

    width: 30px;
    height: 3px;

    background-color: #68b738;
  }

  .additional-filter__title::after {
    top: 23px;
    right: -30px;

    width: 446px;
    height: 3px;
  }

  .additional-filter__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 550px;

    padding: 0;
  }

  .additional-filter__item {
    text-align: left;
    margin-right: 126px;
    margin-bottom: 50px;
  }

  .additional-filter__item:nth-child(2n) {
    margin-right: 0;
  }

  .additional-filter__item:nth-child(3) {
    margin-right: 220px;
  }

  .additional-filter__label {
    margin-left: 32px;
  }

  .additional-filter__item:nth-child(1) .additional-filter__label {
    margin-left: 35px;
  }

  .additional-filter__item:nth-child(3) .additional-filter__label {
    margin-left: 35px;
  }

  .additional-filter__label::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -57px;

    width: 38px;
    height: 38px;
  }

  .additional-filter__label::after {
    top: 17px;
    left: -47px;
  }

  .program__other {
    display: flex;
    flex-direction: row;
    width: 708px;
    margin-top: 10px;
    margin-bottom: 72px;
    margin-left: 41px;
  }

  .program__button {
    width: 283px;
    height: 52px;

    font-family: @main-font;
    font-size: 20px;
    line-height: 1;
    text-transform: @text-transform;
    color: @font-color-white;

    background-color: @bg-color-green;

    border: none;
  }

  .program__additional-txt {
    font-size: 16px;
    line-height: 1;

    margin-top: 17px;
    margin-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    max-width: 1220px;
    margin: 0 auto;
  }

  .program__title {
    margin-top: 14px;
  }

  .program__description {
    margin-left: 0;
  }

  .cat-info__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cat-info__item {
    justify-content: inherit;
  }

  .cat-info__item:last-child {
    margin-bottom: 49px;
  }

  .cat-info__input {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;

    margin-left: 15px;
    margin-bottom: 18px;
  }

  .cat-info__item:first-child .cat-info__input {
    width: 485px;
  }

  .cat-info__item:nth-child(2) .cat-info__input {
    width: 460px;
    padding-left: 24px;
  }

  .cat-info__item:nth-child(3) .cat-info__input {
    width: 417px;
    padding-left: 21px;
  }

  .cat-info__filter {
    width: 481px;
    height: 163px;

    padding-left: 87px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .cat-info__filter-item {
    margin-bottom: 30px;
  }

  .cat-info__radio {
    position: absolute;
    left: -99999px;
  }

  .cat-info__label--filter::before {
    top: 13px;
    left: -60px;
  }

  .cat-info__label--filter::after {
    top: 24px;
    left: -49px;
  }

  .cat-info__list,
  .owner-info__list,
  .additional-filter__list {
    margin-left: 0;
  }

  .owner-info__title {
    width: 1220px;
    padding-left: 0;
    margin-bottom: 76px;
  }

  .owner-info__title::before {
    left: -110px;

    width: 70px;
    height: 3px;
  }

  .owner-info__title::after {
    right: -110px;

    width: 777px;
    height: 3px;
  }

  .owner-info__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 1220px;

    margin-bottom: 49px;
  }

  .owner-info__item {
    width: 570px;
  }

  .owner-info__item:first-child {
    margin-right: 80px;
  }

  .owner-info__item:first-child .owner-info__input {
    width: 465px;
    padding-left: 19px;
    margin-left: 0;
  }

  .owner-info__item:nth-child(2) .owner-info__input {
    width: 451px;
  }

  .owner-info__label {
    width: 84px;
  }

  .owner-info__item:first-child .owner-info__label::after {
    left: 530px;
  }

  .owner-info__item:nth-child(2) .owner-info__label::after {
    left: 530px;
  }

  .about-cat {
    margin-bottom: 65px;
  }

  .about-cat__title {
    width: 1220px;
    padding-left: 0;
  }

  .about-cat__title::before {
    left: -110px;

    width: 70px;
    height: 3px;
  }

  .about-cat__title::after {
    right: -110px;

    width: 1111px;
    height: 3px;
  }

  .about-cat__text {
    width: 1200px;
    margin-left: 0;
  }

  .additional-filter__title {
    width: 1220px;
    padding-left: 0;
    margin-bottom: 65px;
  }

  .additional-filter__title::before {
    top: 20px;
    left: -110px;

    width: 70px;
    height: 3px;
  }

  .additional-filter__title::after {
    top: 20px;
    right: -110px;

    width: 1078px;
    height: 3px;
  }

  .additional-filter__list {
    width: 1220px;
  }

  .additional-filter__item {
    text-align: left;
    margin-right: 109px;
    margin-bottom: 50px;
  }

  .additional-filter__item:nth-child(2n) {
    margin-right: 171px;
  }

  .additional-filter__item:nth-child(3) {
    margin-right: 202px;
  }

  .additional-filter__item:nth-child(4n) {
    margin-right: 0;
  }

  .additional-filter__label {
    margin-left: 32px;
  }

  .additional-filter__item:nth-child(1) .additional-filter__label {
    margin-left: 35px;
  }

  .additional-filter__item:nth-child(3) .additional-filter__label {
    margin-left: 0;
  }

  .additional-filter__label::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -59px;

    width: 38px;
    height: 38px;
  }

  .additional-filter__label::after {
    top: 17px;
    left: -49px;
  }

  .program__other {
    width: 1220px;
    margin-top: 17px;
    margin-bottom: 82px;
    margin-left: 0;
  }

  .program__button {
    width: 568px;
  }

  .program__additional-txt {
    margin-left: 84px;
  }
}
