@main-font: "Oswald", "Arial", sans-serif;
@additional-font: "Arial", sans-serif;
@font-color-black: #111111;
@font-color-white: #ffffff;
@font-color-grey: #444444;
@list-style: none;
@text-decoration: none;
@text-transform: uppercase;
@text-align: center;

@bg-color-white: #ffffff;
@bg-color-green: #68b738;
@bg-color-grey: #f2f2f2;
@bg-image: url(../../img/index-background-mobile@1x.jpg);
@bg-repeat: no-repeat;

@border: 1px solid #e6e6e6;

.mobile-button-green() {
  display: block;
  width: 280px;
  height: 18px;

  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  text-align: @text-align;
  text-decoration: @text-decoration;
  text-transform: @text-transform;
  color: @font-color-white;

  background-color: @bg-color-green;

  padding-top: 11px;
  padding-bottom: 11px;
}

.mobile-button-grey() {
  display: block;
  width: 280px;
  height: 18px;

  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  text-align: @text-align;
  text-decoration: @text-decoration;
  text-transform: @text-transform;
  color: @font-color-grey;

  background-color: @bg-color-grey;

  padding-top: 11px;
  padding-bottom: 11px;
}
